<form action="/register">
    <title>Register/Login</title>
    <label for="id">Email: </label>
    <br>
    <input type="text" id="{email}" name="{email}">
    <br>
    <label for="id">Username: </label>
    <br>
    <input type="text" id="{name}" name="{name}">
    <br>
    <label for="id">Password:  </label>
    <br>
    <input type="text" id="{password}" name="{password}">
    <br>
    <label for="id">Re-Enter Password:  </label>
    <br>
    <input type="text" id="{password_validation}" name="{password_validation}">
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<a>Already have an account?</a>
<a href="/login">LOGIN</a>
