<center><div style="position: absolute; float: right;">
<div class="posts">
    <form action="/{location}">
        <title>Register/Login</title>
        <label for="id">Email: </label>
        <input type="text" id="{email}" name="{email}">
        <br>
        <label for="id">Username: </label>
        <input type="text" id="{name}" name="{name}">
        <br>
        <label for="id">Password:  </label>
        <input type="text" id="{password}" name="{password}">
        <br>
        <label for="id">Re-Enter Password:  </label>
        <input type="text" id="{password_validation}" name="{password_validation}">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
</center>
<center>
<div>
    <a>have an account?</a>
    <a href="login">LOGIN</a>
</div>
</div>
</center>